/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@font-face {
    font-family : 'Noto Serif';
    src : url('./assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family : 'Noto Sans';
    src : url('./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family : 'Noto Sans Mono';
    src : url('./assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf');
}


:root {
    --color-darkrose : #542437;
    --color-wetsand : #a19363;
    --color-paleoak : #D9CAB3;
    --color-darkspruce : #006137;

    --color-violet : #8d70ab;
    --color-asphalt : #434b51;
    --color-palerose : #e5deed;
    --color-lightgrey : #e7e7e7;
    --color-white : #fff;


    --app-bg-color : var(--color-neutral-100);
    --app-fg-color : oklch(14.5% 0 0);
    --app-accent-color : #444cf7;

    --app-sub-bg-color : #e5e5f7;
    --app-sub-accent-color : var(--app-accent-color);

    --app-font-color : oklch(14.5% 0 0);
}


html {
    height : 100%;
}

body {
    height : 100%;

    font-family : 'Noto Sans', sans-serif;
    font-optical-sizing : auto;
    font-style : normal;
    font-variation-settings :
        "wdth" 100
    ;
    color : var(--app-font-color);
}
body[data-theme="light"] {
    --app-global-background-color : var(--color-neutral-100);
    --app-area-background-color : var(--color-neutral-200);

    --app-font-color : var(--color-neutral-950);

    --app-button-background-color : var(--color-neutral-600);
    --app-button-hover-background-color : var(--color-neutral-700);
    --app-button-font-color : var(--color-neutral-200);

    --app-input-background-color : var(--color-neutral-300);
}
body[data-theme="dark"] {
    /* */
}


.font-serif {
    font-family : 'Noto Serif', serif;
}
.font-sans {
    font-family : 'Noto Sans', sans-serif;
}
.font-mono {
    font-family : 'Noto Sans Mono', monospace;
}

:is(
    input[type="button"],
    input[type="submit"],
    button
):not(:disabled) {
    cursor : pointer;
}

.scrollable {
    overflow : auto;
    scrollbar-width : thin;
    scrollbar-color : var(--color-neutral-300) transparent;
    scrollbar-gutter : stable;
    overscroll-behavior : contain;

    min-height : 0;
}

.app-area {
    background-color : var(--app-area-background-color);
    border-radius : 1rem;
}

.app-button {
    background-color : var(--app-button-background-color);
    border-radius : 999em;

    color : var(--app-button-font-color);
}
.app-button:hover {
    background-color : var(--app-button-hover-background-color);
}

.app-input {
    background-color : var(--app-input-background-color);
    border-radius : 999em;
}

.app-link {
    color : var(--app-sub-accent-color);
    text-decoration : underline solid;
}

.background-pattern {
    --size: 50px;
    --decoration-color: var(--color-purple-300);

    background:
        linear-gradient(45deg,
            transparent 71%,
            var(--decoration-color) 0 79%,
            transparent 0) calc(var(--size) / -2) calc(var(--size) / 2)/calc(2 * var(--size)) calc(2 * var(--size)),
        linear-gradient(135deg,
            transparent 71%,
            var(--decoration-color) 0 79%,
            transparent 0) calc(var(--size) / 2) calc(var(--size) / 2)/calc(2 * var(--size)) calc(2 * var(--size)),
        radial-gradient(var(--decoration-color) 35%, transparent 37%) 0 0/var(--size) var(--size);
}
