/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@font-face {
    font-family : 'Noto Serif';
    src : url('./assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family : 'Noto Sans';
    src : url('./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family : 'Noto Sans Mono';
    src : url('./assets/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf');
}


:root {
    --color-darkrose : #542437;
    --color-wetsand : #a19363;
    --color-paleoak : #D9CAB3;
    --color-darkspruce : #006137;

    --color-violet : #8d70ab;
    --color-asphalt : #434b51;
    --color-palerose : #e5deed;
    --color-lightgrey : #e7e7e7;
    --color-white : #fff;


    --app-sub-bg-color : #e5e5f7;
    --app-sub-accent-color : #444cf7;

    --app-bg-color : oklch(97% 0 0);
    --app-fg-color : oklch(14.5% 0 0);

    --app-font-color : oklch(14.5% 0 0);
}


html {
    height : 100%;
}

body {
    height : 100%;

    font-family : 'Noto Sans', sans-serif;
    font-optical-sizing : auto;
    font-style : normal;
    font-variation-settings :
        "wdth" 100
    ;
    color : var(--app-font-color);
}
body[data-theme="light"] {
    /* This is default theme. */
}
body[data-theme="dark"] {
    --app-bg-color : oklch(20.5% 0 0);
}


.font-serif {
    font-family : 'Noto Serif', serif;
}
.font-sans {
    font-family : 'Noto Sans', sans-serif;
}
.font-mono {
    font-family : 'Noto Sans Mono', monospace;
}

:is(
    input[type="button"],
    input[type="submit"],
    button
):not(:disabled) {
    cursor : pointer;
}

.scrollable {
    overflow : auto;
    scrollbar-width : none;
    overscroll-behavior : contain;

    min-height : 0;
}

.bg-pattern {
    background :
        radial-gradient(
            circle,
            transparent 20%,
            var(--app-sub-bg-color) 20%,
            var(--app-sub-bg-color) 80%,
            transparent 80%,
            transparent
        ),
        radial-gradient(
            circle,
            transparent 20%,
            var(--app-sub-bg-color) 20%,
            var(--app-sub-bg-color) 80%,
            transparent 80%,
            transparent
        ) 25px 25px,
        linear-gradient(
            var(--app-sub-accent-color) 2px,
            transparent 2px
        ) 0 -1px,
        linear-gradient(
            90deg,
            var(--app-sub-accent-color) 2px,
            var(--app-sub-bg-color) 2px
        ) -1px 0
    ;
    background-size : 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
