/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


:root {
    --color-darkrose : #542437;
    --color-wetsand : #a19363;
    --color-paleoak : #D9CAB3;
    --color-darkspruce : #006137;
}


html {
    height : 100%;
}

body {
    height : 100%;
}

* {
    box-sizing : border-box;
}


.gradient-background {
    --size : 100px;
    --c1 : var(--color-wetsand);
    --c2 : var(--color-darkrose);

    --l1 : transparent  48%, var(--c1) 0 52%, transparent 0;
    --l2 : transparent 1.3%, var(--c2) 0 32%, transparent 0;

    background :
        linear-gradient(-45deg,var(--l2)),
        linear-gradient(45deg,var(--l1)),
        linear-gradient(45deg,var(--l2)) calc(var(--size) / 2) calc(var(--size) / 2),
        linear-gradient(-45deg,var(--l1)) var(--c2)
    ;
    background-size: calc(2 * var(--size)) var(--size), var(--size) var(--size);
}
