.border-outline {
    background-color : var(--color-lightgrey);
    border : 2px solid var(--color-violet);
}

.chat-message-box {
    padding : .5rem 1rem;
    border-radius : 1rem;
}

.origin-left {
    align-self : flex-start;
    border-bottom-left-radius : 0;
}

.origin-right {
    align-self : flex-end;
    border-bottom-right-radius : 0;
}
